# app/.gitignore
*.log
__pycache__
*.py[cod]

# ignore virtual environments
venv/
.env/
.venv/
# ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
# ignore VS Code config
.vscode/
# ignore OS-specific files
.DS_Store
Thumbs.db
# ignore model artifacts
*.h5
*.pkl
*.pb
# ignore TensorFlow saved_model structure